* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--termWidth: 60%;

	/* COLORS */
	--termClr: #1E212B;
	--bodyClr: #131419;
	--h3Clr: white;
	--bookmarkClr: white;
	--linkClr: grey;
	--shadowClr: #312B4B;
	--glow-color: #312B4B;
}

body {
	background: var(--bodyClr);
}

#terminal {
	/* height: clamp(var(--termMin), var(--termHeight), var(--termMax)); */
	width: var(--termWidth);
	aspect-ratio: 18/10;
	background-color: var(--termClr);
	border: 1px solid var(--shadowClr);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
	border-radius: 9px;
	border: 3px solid var(--shadowClr);
}

.window-glow {
	box-shadow: 0px 0px 20px 5px var(--glow-color),
		0 0 5px var(--glow-color),
		0 0 25px var(--glow-color),
		0 0 50px var(--glow-color),
		0 0 200px var(--glow-color);


	transition: box-shadow 0.2s;
}

@media (orientation: portrait) {
	#terminal {
		aspect-ratio: 10/18;
		max-height: 80%;
	}
}

#content {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

ul {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

}

h3 {
	color: var(--h3Clr);
	grid-column: span 2;
}

li {
	list-style-type: none;
	display: inline;
}

a {
	text-decoration: none;
	color: var(--linkClr);
}